<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>QRコードにしたいURLを入力</h1>
    <form action="/try" method="POST">
        URL: <input type="text" name="try_c"><br>
        保存名:<input type="text"name="try_n"><br>
        <button type="submit">送信する</button>
    </form>
    <p>QLコード名：{{msg}}</p>
    <img src="static/qrcode.png"width=300><br>
</body>
</html>